.Account{
    width: 100%;
    height: 100%;
    display: flex;
    background: url(../../Imgs/bg-121.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.AccountLeft, .AccountRight{
    width: 50%;
    height: 100%;
}
