@media only screen and (min-width:1178px){
    .Content{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10%;
        margin: 0;
        z-index: 0;
        overflow: auto;
    }
    .Content::-webkit-scrollbar {
        width: 6px;
        background: none;
        border-radius: 50px;
    }
    .Content::-webkit-scrollbar-thumb {
        background: none;
        border-radius: 50px;
    }
    .Content::-webkit-scrollbar-thumb:hover {
        background: var(--colorDeco6);
        border-radius: 50px;
    }
}
@media only screen and (max-width:1177px){
    .Content{
        width: 100%;
        height: 78%;
        position: absolute;
        top: 10%;
        margin: 0;
        z-index: 0;
        overflow: auto;
    }
    .Content::-webkit-scrollbar {
        width: 6px;
        background: none;
        border-radius: 50px;
    }
    .Content::-webkit-scrollbar-thumb {
        background: none;
        border-radius: 50px;
    }
    .Content::-webkit-scrollbar-thumb:hover {
        background: var(--colorDeco6);
        border-radius: 50px;
    }
}
