.ContentManager{
    width: 100%;
    height: 88%;
    overflow: auto;
    position: absolute;
    top: 12%;
}
.ContentManager::-webkit-scrollbar {
    width: 6px;
    background: none;
    border-radius: 50px;
}
.ContentManager::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 50px;
}
.ContentManager::-webkit-scrollbar-thumb:hover {
    background: var(--colorDeco6);
    border-radius: 50px;
}